.post {
	width: 320px;
	height: 300px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	border: 1px solid lightgray;
	font-family: Arial, Helvetica, sans-serif;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	overflow: hidden;
}

.post:hover {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	cursor: pointer;
}

.post__title__wrapper {
	flex: 20%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	background-color: dodgerblue;
	border-bottom: 1px solid lightgray;
}

.post__title {
	height: fit-content;
	flex: 1;
	display: grid;
	place-content: center;
	color: white;
}

.post__buttons {
	display: flex;
	flex-direction: row;
	padding-right: 5px;
}

.post__buttons .btn + .btn {
	margin-left: 5px;
}

.post__body {
	flex: 60%;
	display: grid;
	place-content: center;
	overflow: hidden;
	overflow-y: auto;
}

.post__footer {
	flex: 20%;
	border-top: 1px solid lightgray;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	padding: 0 15px;
	background-color: dodgerblue;
	color: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}