.app {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.form {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}
.formContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 320px;
	height: auto;
	padding: 20px;
	border: 5px solid dodgerblue;
	border-radius: 5px;
}

.input {
	height: 30px;
	margin-bottom: 10px;
	border: 2px solid grey;
	border-radius: 5px;
	padding-left: 10px;
	font-size: 20px;
}

.input--tall {
	height: 60px;
}

.form-button {
	margin-top: 15px !important;
	height: 40px !important;
	border: none !important;
	background-color: lightskyblue !important;
	border-radius: 5px !important;
	color: white !important;
	flex: 1 !important;
	padding: 0 !important;
}

.form-button + .form-button {
	margin-left: 5px;
}

.form-button:not([disabled]):hover {
	cursor: pointer !important;
	background-color: dodgerblue !important;
}

.formContainer span {
	color: red;
}

.formRow {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.formRow + .formRow {
	margin-top: 0.5rem;
}

.link-button {
	margin-top: 15px !important;
	height: 40px !important;
	border: none !important;
	background-color: white !important;
	border-radius: 5px !important;
	color: lightskyblue !important;
	flex: 1 !important;
	padding: 0 !important;
}

.link-button:hover {
	cursor: pointer !important;
	color: dodgerblue !important;
}